



/* -------utility------ */




@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* --------навігація-------- */


/* .contact-icon:hover {
  fill: var(--accentcolor);
} */

/* ----hero index---  */


/* -----Переваги------ */



/* about */


/* -----Team------ */



/* -------clients------------ */

/* ---------------------portfolio----------- */

/* Work */

/* ---------footer-------- */

